[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pdfplumber = "*"
pinecone-client = "*"
langchain = "*"
google-generativeai = "*"
pdf2image = "*"

[dev-packages]

[requires]
python_version = "3.9"
